.guessTheNote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 100px;
}

.sound {
  width: 100px;
  height: 70px !important;
  font-size: 1.5em !important;
}

.difficulties {
  width: 50%;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
